main.main-view {
    margin-top:6vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;

}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}